{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <div class="pour-centrer">
    <div class="carre-detail">
        <div class="left">
            <div>
                <h5 class="card-title">{{ app.user.pseudo }}</h5>
                <h5 class="card-title">{{ app.user.email }}</h5>

                
            </div>
        </div>
        <div>
            </div>
</div>
{% endblock %}
