{% extends 'base.html.twig' %}

{% block body %}
<div class="pour-centrer-fin">
    <h9 class="merci"> Merci d'avoir passé votre commande chez nous <br /> <span>Félicitation !</span> </h9>
    <img src="{{asset('assets/images/leonardo.gif')}}" alt="gif">
</div>
{% endblock %}
